* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

html {
    height: 11494.6px;
    width: 1087px;
}

:root {
    --gray-25: #fcfcfd;
    --dark-blue-800: #060e1f;
    --brand-600: #1718ff;
    --roxo-600: #7f56d9;
    --grey-hover: #8a8a8a;
}

body {
    height: 11494.6px;
    width: 1087px;
    background-color: var(--gray-25);
    color: #ffffff;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: color .6s, background-color .6s;
    background: #060E1F;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: inline-block;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

img {
    border: 0;
}

#page-wrapper {
    height: 11494.6px;
    width: 1087px;
}

#nav {
    height: 83.27px;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 4rem;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
}

#padding-global {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#container-large {
    height: 83.27px;
    width: 1039px;
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;
}


#navbar-components {
    opacity: 0.9;
    background-color: rgba(6, 14, 31, .9);
    border: 1px solid rgba(255, 255, 255, .1);
    height: 83.27px;
    width: 1039px;
    border-radius: 6.25rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    display: flex;
    position: relative;
}

#nav-brand-menu-wrapper {
    height: 22px;
    width: 606.47px;
    grid-column-gap: 3rem;
    display: flex;
}

#nav-logo {
    height: 22px;
    width: 119px;
    max-width: 100%;
    display: inline-block;
}

#produtos {
    position: relative;
    top: 2px;
}

#produtos:hover {
    color: grey;
    transition: 0.5s;
}

#nav-menu {
    height: 22px;
    width: 439.47px;
    grid-column-gap: 3rem;
    flex-direction: row;
    align-items: center;
    display: flex;
}

#nav-product-dropdown {
    grid-column-gap: .75rem;
    cursor: pointer;
    align-items: center;
    display: flex;
}

#nav_text{
    color: var(--gray-25);
    font-family: Poppins, sans-serif;
    line-height: 1.2;
    transition: all .2s;
}

.nav-link-text {
    height: 19.19px;
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.nav-link-text:hover {
    transition: 0.5s;
    color: grey;
}

#nav-button-wrapper {
    height: 64px;
    width: 355.81px;
    grid-column-gap: 2rem;
    align-items: center;
    display: flex;
}

#bandeiras {
    height: 44px;
    width: 89.36px;
    display: block;
}

#bandeiraBR {
    width: auto;
    text-transform: uppercase;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    flex-direction: column;
    align-items: stretch;
    font-weight: 700;
}

#bandeiraBR img {
    height: 32px;
    width: 31.02px;
}

#bandeiraUSA {
    height: 44px;
    width: 89.36px;
}

.wg-flag-ico {
    width: 2rem;
    height: 2rem;
    max-width: none;
    object-fit: cover;
}

.wg-flag {
    height: 16px;
    width: 20px;
}

.wg-selector-text-wrapper {
    width: 100%;
    grid-column-gap: .5rem;
    align-items: center;
    display: flex;
}

.text-block-4 {
    height: 24px;
    width: 21.36px;
}

#botaoContato {
    height: 49.27px;
    width: 204.45px;
    color: #fff;
    text-align: center;
    letter-spacing: -.3px;
    background-color: #000;
    background-image: linear-gradient(45deg, #1718ff, #7f56d9);
    border-radius: 6.25rem;
    font-family: Poppins, sans-serif;
    font-size: .88rem;
    font-weight: 600;
    transition: all .2s;
    text-decoration: none;
    cursor: pointer;
}

.gradient-circle-blurred.is-large.is-home-hero {
    top: -12.81rem;
}

.gradient-circle-blurred.is-large {
    width: 44rem;
    height: 44rem;
}

.gradient-circle-blurred {
    z-index: 0;
    width: 15rem;
    height: 15rem;
    opacity: .5;
    filter: blur(240px);
    background-image: linear-gradient(50deg, #1718ff, #7f56d9);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.padding-global {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.padding-xxhuge {
    padding: 12rem;
}

.container-medium, .container-small, .container-large {
    margin-right: auto;
    margin-left: auto;
}

.text-align-center {
    text-align: center;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.max-width-large {
    width: 100%;
    max-width: 46.25rem;
}

.div-block {
    justify-content: center;
    align-items: center;
    display: flex;
}

.button.is-icon.variation {
    text-transform: uppercase;
    background-color: #00018f;
    border-style: solid;
    border-color: #0001eb;
    padding: .63rem 1.5rem;
    font-size: .75rem;
}

.button.is-icon {
    grid-column-gap: .25rem;
    grid-row-gap: 1rem;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 1px solid #fcfcfd;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
    text-decoration: none;
    display: flex;
}

.button {
    color: #fff;
    text-align: center;
    letter-spacing: -.3px;
    background-color: #000;
    background-image: linear-gradient(45deg, #1718ff, #7f56d9);
    border-radius: 6.25rem;
    padding: .88rem 2.5rem;
    font-family: Poppins, sans-serif;
    font-size: .88rem;
    font-weight: 600;
    transition: all .2s;
}

.background-color-black {
    background-color: var(--dark-blue-800);
    color: #f5f5f5;
}